@model PartListViewModel


<h1>@Model.CurrentCategory</h1>
@foreach (var part in Model.Parts)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@part.ImageThumbnailUrl" alt="image for part" />
            <div class="caption">
                <h3 class="pull-right">@part.Price.ToString("c")</h3>
                <h3>@part.Name</h3>
                <p>@part.Description</p>
            </div>
        </div>
    </div>
}
